<nav class="navbar navbar navbar-default navbar-fixed-top">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a href="/" class="navbar-brand">MovieDB</a>
  </div>

  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 0.8px;">
    <ul class="nav navbar-nav">
      <li>
        <a href="/directors">Directors</a>
      </li>
      <li>
        <a href="/movies">Movies</a>
      </li>
      <li>
        <a href="/actors">Actors</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h1>Add Director</h1>
  </div>
  <form class="form-horizontal" action="/create_director">
    <div class="form-group">
      <label for="dob" class="control-label col-sm-2">Dob</label>
      <div class="col-sm-10">
        <input id="dob" type="text" name="dob" placeholder="Dob" class="form-control" >
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="control-label col-sm-2">Name</label>
      <div class="col-sm-10">
        <input id="name" type="text" name="name" placeholder="Name" class="form-control" >
      </div>
    </div>

    <div class="form-group">
      <label for="bio" class="control-label col-sm-2">Bio</label>
      <div class="col-sm-10">
        <textarea id="bio" name="bio" placeholder="Bio" class="form-control" rows="3" ></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="image_url" class="control-label col-sm-2">Image url</label>
      <div class="col-sm-10">
        <input id="image_url" type="text" name="image_url" placeholder="Image url" class="form-control" >
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" >CREATE DIRECTOR</button>
      </div>
    </div>

  </form>
</div>
